@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["About CompanyZ"]</h3>

<p>CompanyZ is the leading restaurant in KL looking to expand the restaurant into more branches around KL area.</p>
<p>This is the employee's only website for the restaurant</p>
