@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["CompanyZ contact page"]</h3>

<address>
    CompanyZ<br />
    KL, Kuala Lumpur<br />
    <abbr title="Phone">P:</abbr>
    0161298387
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@companyz.com">Support@companyz.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@companyz.com">Marketing@companyz.com</a>
</address>

<p>If you have any hesitation, please do contact us!</p>
